# Ignore specific directories
tailwind/
.vscode/

# Ignore specific Python files
addGoogleTag.py
automateSiteMap.py
sitemapGen.py

# Ignore specific file types
*.doc
*.docx
*.log
*.msg
*.pages
*.rtf
*.txt
*.wpd
*.wps
*.DS_Store
*.typ  # Ignores all .typ files

# Ignore specific files
template.pdf
