.center {
    
}
.definition {
    border-left: 0.75rem solid rgb(134, 141, 34);
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    padding: 0.5rem;
    background-color: rgb(230, 255, 222);
    box-shadow: 2px 2px 5px rgb(141, 141, 141);
    color: rgb(43, 43, 43);
    line-height: normal;
}


.definition::before{
    content: 'Definition: ';
    font-weight: 600;
    color: rgb(80, 76, 76);
}

.thm {
    border-left: 0.75rem solid rgb(17, 17, 18);
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    padding: 0.5rem;
    background-color: rgb(59, 59, 59);
    box-shadow: 2px 2px 5px rgb(82, 82, 82);
    color: rgb(43, 43, 43);
    line-height: normal;
    color: white;
}


.thm::before{
    content: 'Theorem: ';
    font-weight: 600;
    color: rgb(182, 255, 182);
}

.text-defn {
    font-style: italic;
    color: rgb(158, 93, 93);
}

.slide-img {
    width: 35%;
}

.red{
    color: rgb(244, 29, 208);
}

.yellow {
    color:rgb(250, 250, 53)
}

.slide h2 {
    color: rgb(244, 225, 156);
}

.keyword {
    color: rgb(255, 68, 218);
}

.defn-name {
    color: rgb(255, 254, 176);
}

.thm li {
    margin-left: 2rem;
}

.head-3 {
    color: rgb(255, 128, 0);
}

.defnName {
    color: rgb(98, 98, 255);
}

.title {
    color: rgb(252, 252, 1);
}

.content {
    font-style: italic;
}

.ml-4 {
    margin-left: 2.5rem;
}

.title-1 {
    color:rgb(153, 233, 255)
}